@import url("./variables.css");

.btn {
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  width: fit-content;
  cursor: pointer;
  height: 40px;
  max-width: 250px;
  border: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: 1px solid var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
}

.btn-transparent {
  background: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--light-color);
}